@font-face {
	font-family: 'salon-font';
	src: url('../fonts/salon-font.eot');
}
@font-face {
	font-family: 'salon-font';
	src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SAv4AAAC8AAAAYGNtYXAaVsyaAAABHAAAAFRnYXNwAAAAEAAAAXAAAAAIZ2x5Zgm5+kcAAAF4AAAN9GhlYWQF7KbjAAAPbAAAADZoaGVhB0ID2QAAD6QAAAAkaG10eFLNExIAAA/IAAAAYGxvY2EpGCWOAAAQKAAAADJtYXhwAEEA8gAAEFwAAAAgbmFtZYjJJQ0AABB8AAABqnBvc3QAAwAAAAASKAAAACAAAwPBAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADmEwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAOAAAAAoACAACAAIAAQAg5hP//f//AAAAAAAg5gD//f//AAH/4xoEAAMAAQAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAAOASAAQALAA0AABQALABEAFwAdACMAKQAvADUAOwBBAEcATQBTAAAlFSM1MxU3FSM1MxU1FTM1IxU3FSM1MxU3FSM1MxU3FSM1MxU3FSM1MxUHFSM1MxUnFSM1MxUnFSM1MxUnFSM1MxUnFSM1MxUnFSM1MxUXMxEjETMCACAgICAgICBAICAgICAgICAgICDgICAgICAgICAgICAgICAgICC/ASAfQQEgHyABIB8gASAfIAEgHyABIB8gASAfIAEgH6ABIB8gASAfIAEgHyABIB8gASAfIAEgH6EC4P0gAA4AgAEAA4ACoAAFAAsAEQAXAB0AIwApAC8ANQA7AEEARwBNAFMAABMjFSE1ISsBFTM1IzcjFTM1IzcjFTM1IzcjFTM1IzcjFTM1IzcjFTM1IzcjFTM1IwcjFTM1IxcjFTM1IxcjFTM1IxcjFTM1IxcjFTM1IxcjFTM1I7ISAuD9MjEBIB8gASAfIAEgHyABIB8gASAfIAEgHyABIB+gASAfIAEgHyABIB8gASAfIAEgHyABIB8B4CAgICAgICAgICAgICAgICAgICAgICDgICAgICAgICAgICAgICAgICAADgCAAQADgAKgAAUACwARABcAHQAjACkALwA1ADsAQQBHAE0AUwAAATMVITUhOwEVIzUzJzMVIzUzJzMVIzUzJzMVIzUzJzMVIzUzJzMVIzUzJzMVIzUzFzMVIzUzBzMVIzUzBzMVIzUzBzMVIzUzBzMVIzUzBzMVIzUzA04S/SACzjEBIB8gASAfIAEgHyABIB8gASAfIAEgHyABIB+gASAfIAEgHyABIB8gASAfIAEgHyABIB8B4CAgICAgICAgICAgICAgICAgICAgICDgICAgICAgICAgICAgICAgICAAAAAADgEgAEACwANAAAUACwARABcAHQAjACkALwA1ADsAQQBHAE0AUwAAATMRIxEzNzUjFTM1FzUjFTM1FTUzFSM1FzUjFTM1FzUjFTM1FzUjFTM1FzUjFTM1JzUjFTM1BzUjFTM1BzUjFTM1BzUjFTM1BzUjFTM1BzUjFTM1Af8BIB8BICAgICAgIEAgICAgICAgICAgIOAgICAgICAgICAgICAgICAgIAMg/SAC4B8BIB8gASAfIAEgHyABIB8gASAfIAEgHyABIB+gASAfIAEgHyABIB8gASAfIAEgHyABIB8AAAAAAgDfAKEDHwMnACwAUAAAARQOAiMiLgI1ND4CMxUzNTM1MzUjNSM1IxUiDgIVFB4CMzI+AjUjBTM1MjY1NCYjIgYVMzQ2MzIWFRQGIzAmMTUjFSMVIxUzFTMVAwsqSWI3OGFJKytJYTggICAgICA8aE8tLU9oPDxoTy0U/tQgN05ONzdOFUIvL0JCLwEgICAgIAHBOGFJKipJYTg4YUkqRiAgICAgRi1PaDw8aE8tLU9oPMpETjc3Tk43L0JCLy9CAUcgICAgIAABAKABwAOAAeAABQAAEyMVITUhsREC4P0xAeAgIAAAAAQBIADgAwACwAAFAAsAEQAXAAABIxUhNSEDIxUhNSEFNSMRMxEFNSMRMxEBUxMBoP5zHxQBwP5UAcwgIP5AICABACAgAcAgIBYW/iAByh4U/kABrAAAAAACAYAAQAKAAyAABQALAAABNSMRMxEjNSMRMxECgCAg4CAgAw8R/SACzxH9IALPAAAWAWAAQALgAyAABAAJAA4AEwAYAB0AIgAnACwAMQA2ADsAQABFAEoATwBUAFkAXgBjAGgAbQAAATMRIxEXMxUjNRczFSM1FzMVIzUXMxUjNRczFSM1FzMVIzUXMxUjNRczFSM1FzMVIzUXMxUjNQczFSM1NzMVIzU3MxUjNQczFSM1BzMVIzUHMxUjNQczFSM1BzMVIzUHMxUjNQczFSM1BzMVIzUBYCAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgYCAgICAgICAgICAgICAgICAgICAgICAgAyD9IALgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgYCAgICAgICAgYCAgICAgICAgICAgICAgICAgICAgICAgAAAAAgCgAGADgANAAAUACwAAEyMVITUhATUjETMRsREC4P0xAW8gIAHgICABTxH9IALPAAAAAAIAqwCAA1UDAAAUACkAAD8BPgM1NCYvAQcXHgEVFAYPARchNz4DNTQmLwEHFx4BFRQGDwEX2wxGaUcjQkILphE6OUpMDjABVgtGakYjQkELpxE6OUpLDzGACDVmY2AvQnIvCKIKJlgzPXM1CzMINWZjYC9Cci8IogomWDM9czULMwAAACgAQAANAJMDhgAFAAsAEQAXAB0AIwApAC8ANQA7AEEARwBNAFMAWQBfAGUAawBxAHcAfQCDAIkAjwCVAJsAoQCnAK0AswC5AL8AxQDLANEA1wDdAOMA6QDvAAATMSM1MxU3MSM1MxU1FTM1IxU3MSM1MxU3MSM1MxU3MSM1MxU3MSM1MxUHMSM1MxUnFSM1MxUnMSM1MxUnMSM1MxUnMSM1MxUnMSM1MxU3MSM1MxU3MSM1MxU1FTM1IxU3MSM1MxU3MSM1MxU3MSM1MxU3MSM1MxUHMSM1MxUnFSM1MxUnMSM1MxUnMSM1MxUnMSM1MxUnMSM1MxU3MSM1MxU3MSM1MxU1FTM1IxU3MSM1MxU3MSM1MxU3MSM1MxU3MSM1MxUHMSM1MxUnFSM1MxUnMSM1MxUnMSM1MxUnMSM1MxUnMSM1MxUTFTMRIxFtBwcGBgYHBw0GBgYGBgcHBwYGBi0GBgYGBgYHBwcGBgYHBwcGBicHBwYGBgcHDQYGBgYGBwcHBgYGLQYGBgYGBgcHBwYGBgcHBwYGJwcHBgYGBwcNBgYGBgYHBwcGBgYtBgYGBgYGBwcHBgYGBwcHBgYgBwcC2gYGBgYGBwEHBgYGBgYHBwcGBgYGBiAGBgcBBwYGBgYGBwcHBgYGBgYaBgYGBgYHAQcGBgYGBgcHBwYGBgYGIAYGBwEHBgYGBgYHBwcGBgYGBhoGBgYGBgcBBwYGBgYGBwcHBgYGBgYgBgYHAQcGBgYGBgcHBwYGBgYG/JADAqz9VwAGAWABQALAAgAABQALABEAFwAdACMAAAEjNTMVIycjNTMVIycjNTMVIycjNTMVIycjNSEVIScjNSEVIQIBASAfHwJgXh4EoJwfBeDbHgcBIP7nHwgBYP6oAUAgICAgICAgICAgICAgICAgIAAKAWABQALAAgAABQALABEAFwAdACMAKQAvADUAOwAAARUzNSMVJxUzNSMVJxUzNSMVJxUzNSMVJxUzNSMVJxUhNSEVFxUzNSMVNxUzNSMVNxUzNSMVNxUzNSMVAgAgICAgICAgICAgICAgICABYP6gwCAgICAgICAgICAgAUEBIB8gASAfIAEgHyABIB8gASAfIAEgH4ABIB8gASAfIAEgHyABIB8AAAAQASAA4AMgAsAABQALABEAFwAcACEAJgArADAANQA6AD8ARABJAE4AUwAAASMVITUhAyMVITUhBTUjETMRJTUjETMRFzMVIzUnMxUjNRczFSM1NzMVIzUHMxUjNTczFSM1NzMVIzU3MxUjNQczFSM1NzMVIzU3MxUjNTczFSM1AVMTAaD+cx8UAcD+VAHMICD+QCAggCAgICAgYCAgQCAgICAgQCAgICAgICAgwCAg4CAgICAgICAgAQAgIAHAICDNDf7gAROZFP5AAazMICAgICBgICBAICAgICBAICAgICAgICCAICCgICAgICAgICAAAAAABAEgAOAC4AKgADQAQQBOAFsAAAEXPgEzMhYVFAYjIiY1NDY3Jw4BIyImNTQ2MzIWFzcuATU0NjMyFhUUBiMiJicHHgEVFAYHFzI2NTQmIyIGFRQWMyUyNjU0JiMiBhUUFjM3MjY1NCYjIgYVFBYzAdxTDSoaKDg4KCg4AQFVDSgYKDg4KBQjDT8CATgoKDg4KBkqDToFBQICpBslJRsbJSUb/wAbJSUbGyUlG+AbJSUbGyUlGwGjMBQZOCgoODgoBgoFMhIVOCgoOA8NJAYMBig4OCgoOBgTIQoVCwgOB6MlGxslJRsbJYAlGxslJRsbJYAlGxslJRsbJQAAAwDgAKADIALgABUAKgA3AAAlIi4CNTQ+AjMyHgIVFA4CIzERIg4CFRQeAjMyPgI1NC4CIxEiJjU0NjMyFhUUBiMCADxoTy0tT2g8PGhPLS1PaDw4YUkqKklhODhhSSoqSWE4HioqHh4qKh6gLU9oPDxoTy0tT2g8PGhPLQIsKklhODhhSSoqSWE4OGFJKv6sKh4eKioeHioAAAAAAgDgAKADIALgABUAKwAAJSIuAjU0PgIzMh4CFRQOAiMxESIOAhUUHgIzMj4CNTQuAiMxAgA8aE8tLU9oPDxoTy0tT2g8OGFJKipJYTg4YUkqKklhOKAtT2g8PGhPLS1PaDw8aE8tAiwqSWE4OGFJKipJYTg4YUkqAAAAAAEBaAEbAqUCWAAMAAABByc3JzcXNxcHFwcnAgaIFoiIFoiIF4iIF4gBo4gXiIgWiIgWiIgXiAAAAwCgAKADgALAAAUACwARAAA3IxUhNSERIxUhNSERIxUhNSGxEQLg/TERAuD9MREC4P0xwCAgAQAgIAEAICAAAAEAAAABAACzrgrRXw889QALBAAAAAAA0acxMAAAAADRpzEwAAAAAAOAA4YAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAAA4AAAQAAAAAAAAAAAAAAAAAAABgEAAAAAAAAAAAAAAACAAAABAABIAQAAIAEAACABAABIAQAAN8EAACgBAABIAQAAYAEAAFgBAAAoAQAAKsAzQBABAABYAQAAWAEAAEgBAABIAQAAOAEAADgBAABaAQAAKAAAAAAAAoAFAAeAI4A/gFwAeICRgJWAoICmgMyA0wDjgSwBOYFOgW0BjIGgAa+BtoG+gAAAAEAAAAYAPAAKAAAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAOAK4AAQAAAAAAAQAKAAAAAQAAAAAAAgAHAHsAAQAAAAAAAwAKAD8AAQAAAAAABAAKAJAAAQAAAAAABQALAB4AAQAAAAAABgAKAF0AAQAAAAAACgAaAK4AAwABBAkAAQAUAAoAAwABBAkAAgAOAIIAAwABBAkAAwAUAEkAAwABBAkABAAUAJoAAwABBAkABQAWACkAAwABBAkABgAUAGcAAwABBAkACgA0AMhzYWxvbi1mb250AHMAYQBsAG8AbgAtAGYAbwBuAHRWZXJzaW9uIDEuMABWAGUAcgBzAGkAbwBuACAAMQAuADBzYWxvbi1mb250AHMAYQBsAG8AbgAtAGYAbwBuAHRzYWxvbi1mb250AHMAYQBsAG8AbgAtAGYAbwBuAHRSZWd1bGFyAFIAZQBnAHUAbABhAHJzYWxvbi1mb250AHMAYQBsAG8AbgAtAGYAbwBuAHRGb250IGdlbmVyYXRlZCBieSBJY29Nb29uLgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'salon-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-salon_arrowdown:before {
	content: "\e600";
}
.icon-salon_arrowleft:before {
	content: "\e601";
}
.icon-salon_arrowright:before {
	content: "\e602";
}
.icon-salon_arrowup:before {
	content: "\e603";
}
.icon-salon_flip:before {
	content: "\e604";
}
.icon-salon_minus:before {
	content: "\e605";
}
.icon-salon_notselected:before {
	content: "\e606";
}
.icon-salon_pause:before {
	content: "\e607";
}
.icon-salon_play:before {
	content: "\e608";
}
.icon-salon_plus:before {
	content: "\e609";
}
.icon-salon_quote:before {
	content: "\e60a";
}
.icon-salon_scrollarrow:before {
	content: "\e60b";
}
.icon-salon_selectarrow1:before {
	content: "\e60c";
}
.icon-salon_selectarrow2:before {
	content: "\e60d";
}
.icon-salon_selected:before {
	content: "\e60e";
}
.icon-salon_share:before {
	content: "\e60f";
}
.icon-salon_slideactive:before {
	content: "\e610";
}
.icon-salon_slideinactive:before {
	content: "\e611";
}
.icon-salon_x:before {
	content: "\e612";
}
.icon-salon_zmenu:before {
	content: "\e613";
}
