body{
  font-family: $default-font;
  font-size: $base-font-size;
  letter-spacing: 0;
}

h1,h2,h3,h4,h5,h6{
  font-family: $headers-font;
}

h3{
  font-size: 2.2em;
  margin-bottom: 1.2em;
}

p{
  margin-bottom: 1.5em;
}

a{
  text-decoration: unset;
  color: $black;
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.clearfix {
  @include clearfix;
}