// default
$base-font-size: 17px;

// default fonts
$default-font: 'Playfair Display', serif;
$headers-font: 'Playfair Display', serif;
$feature-font: 'Playfair Display', serif;

// default colors
$white: #fff;
$gray: #888;
$light-gray: #f8f9fa;
$black: #000;
$success: #4daf7c;
$danger: #c51330;

/* all default colors

#ea4c0f - orange, original color
#10a1d6 - light blue
#59cbe3 - blue
#95a5a5 - gray
#913d88 - purple
#c51330 - red
#eb7f9f - pink
#f39c11 - yellow
#1bbc9b - light green
#4daf7c - green

*/
