
@import "../css/bootstrap.min.css";
@import "../css/datatables.min.css";
@import "../css/open-iconic-bootstrap.css";

body {
  background: #f8ffff;
}

.pull-right{
  float: right;
}
.btn-sm-2{
  padding: 0 2px;
  font-size: 10pt;
  font-weight: 100;
}

.navbar{
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 3px #eee;
}

.table-list td{
  font-size: 11pt;
  padding: 3px 5px;
  font-weight: 100;
}