@import 'v3_variables';
@import 'v3_initial';

// ---------------------- theme styles
.feature-td{
  height: 80vh;
  width: 100%;
  padding: 0 25px;
  vertical-align: top;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .feature-td-text{
    letter-spacing: 10px;
    background: $white;
    padding: 20px 0 0 0;
  }
}

.coverimg-td{
  height: 80vh;
}

.carousel-team-cell {
  width: 20%;
  margin-right: 15px;
  counter-increment: carousel-cell;
}

.carousel-artwork-cell {
  width: 16%;
  margin-right: 5px;
  counter-increment: carousel-cell;
}

.carousel-product-cell {
  width: 20%;
  margin-right: 5px;
  counter-increment: carousel-cell;
  text-align: center;
}

.img-logo-about{
  padding-top: 100px;
  width: 180px;
}

.about-bg{
  height: 70vh;
  background-size: cover;
}

#about-wrapper{
  position: relative;
  top: -200px;

  .about-box{
    background-color: $white;
    padding: 2.5em;
  }
}

.master-vision-title{
  line-height: 2em;

  &:after{
    content: "";
    display: block;
    border-bottom: 4px solid;
    width: 60px;
    margin-top: 50px;
  }
}

.master-vision-desc{
  text-align: justify;
  padding: 50px 80px 0 0;
  line-height: 1.8em;
  z-index: 1;
}

.master-vision-desc-mobile{
  display: none;
}

.master-vision-imgs{
  width: 75%;
  float: right;

  img {
    width: 85%;
  }
}

.career-imgs{
  width: 85%;
  float: right;

  img {
    width: 100%;
  }
}

.master-vision-contents {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  width: 40%;
  position: absolute;
}
.career-contents {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  width: 60%;
  position: absolute;
  background: $light-gray;
  padding: 50px 80px;
  margin-top: 43vh;

  p{
    text-align: justify;
  }
}
.career-contents-mobile{
  display: none;
  position: initial;
}

#news{
  margin-top: 30vh;
}

.text-feature-about-us{
  position: relative;
  height: 0;
  display: block;
  top: -200px;
}

.navbar-brand{
  padding: 1em 1.5em 1.5em;

  img {
    width: 90px;
  }
}

.nav-link{
  padding: 0.5em 4em;
  color: $black;
}

.nav-tabs .nav-link.active{
  border-radius: unset;
  background-color: $light-gray;
  border-color: $light-gray;
}
.nav-tabs:hover button{
  border-radius: unset;
  color: $black;
}

#contactFormMsg{
  padding-left: 10px;
  font-size: 1.2em;
}

.footer-container{
  background-color: rgba(0,0,0,.4);
  font-size: .9em;
  padding: 3em 7em;
  color: $white;

  a{
    color: $white;

    img{
      position: relative;
      top: -3px;
    }
  }
}

.news-item{
  padding: 10px;

  &:hover{
    background-color: $light-gray;
  }
}


// ------------------------------------------------------------------
// ---------------------- helpers -----------------------------------
// ------------------------------------------------------------------

.mobile-show-block{
  display: none;
}

.section-margin-top{
  margin-top: 14vh;
}

.text-smaller{
  font-size: .7em !important;
}

.line-height-1{
  line-height: 1em;
}

.text-style-feature-alph{
  font-family: $feature-font;
  font-size: 8em;
  line-height: 1.1em;
  margin-left: 150px;

  &:after{
    content: "";
    display: block;
    border-bottom: 4px solid $white;
    width: 1.5em;
    margin-top: .1em;
    margin-bottom: .15em;
  }
}

.text-style-feature-slogan{
  font-family: $feature-font;
  font-size: 2.5em;
  letter-spacing: 3px;
  margin-left: 150px;
}

.text-style-feature {
  font-family: $feature-font;
  font-size: 6em;
  font-style: italic;
  line-height: 1em;
}

.text-rotate-vertical{
  position: relative;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.scroll-margin{
  scroll-margin-top: 150px;
}

.scroll-margin-less{
  scroll-margin-top: 50px;
}

// ------------------------------------------------------------------
// ---------------------- rewrite library class ---------------------
// ------------------------------------------------------------------

.flickity-page-dots{
  position: relative;
  bottom: -40px;
  padding-bottom: 50px;

  .dot {
    margin: 0 3px;
  }
}

.pe-lg{
  font-size: 1.5em;
  vertical-align: -45%;
}

.form-control-theme{
  border: unset !important;
  background: unset !important;
  border-bottom: 1px solid $black !important;
  border-radius: unset !important;
}


// ------------------------------------------------------------------
// ---------------------- diff size ---------------------
// ------------------------------------------------------------------



// ---------------------- theme styles (LG)
@media all and (max-width: 1200px) {
  .carousel-team-cell, .carousel-product-cell {
    width: 25%;
  }

  .carousel-artwork-cell {
    width: 20%;
  }

  .career-contents {
    margin-top: 30vh;
    width: 70%;
  }

  #news{
    margin-top: 33vh;
  }
}

// ---------------------- theme styles (MD)
@media all and (max-width: 992px) {
  .carousel-team-cell, .carousel-product-cell {
    width: 40%;
  }

  .carousel-artwork-cell {
    width: 25%;
  }

  .feature-td{
    padding: 0 40px;
  }

  .text-style-feature-alph{
    font-size: 6em;
    line-height: 1em;
    margin-left: 100px;
  }

  .text-style-feature-slogan{
    font-size: 2em;
    letter-spacing: 2px;
    margin-left: 100px;
  }

  .master-vision-contents
  {
    width: 60%;

    .master-vision-title{
      width: 40%;
      margin-bottom: 0;
      line-height: 1.2em;
    }

    .master-vision-desc {
      padding-top: 40px;
      line-height: 1.5em;
    }
  }

  .img-logo-about {
    padding-top: 0;
    width: 120px;
  }

  .nav-link{
    padding: 0.5em 2em;
  }

  .product-name{
    font-size: .9em;
  }

  .news-item{
    border : 1px solid #eee;
    border-radius: 2px;
  }

  .career-contents {
    width: 100%;
  }
  .career-contents-mobile{
    display: flex;
  }
  .career-contents-desktop{
    display: none;
  }

  .career-imgs{
    width: 100%;
    float: initial;

    img {
      width: 100%;
    }
  }
}

// ---------------------- theme styles (SM)
@media all and (max-width: 767px) {
  .carousel-team-cell, .carousel-product-cell {
    width: 50%;
  }

  .carousel-artwork-cell {
    width: 30%;
  }
}

// ---------------------- theme styles (XS)
@media all and (max-width: 576px) {
  .section-margin-top{
    margin-top: 7vh;
  }
  .feature-td{
    padding: 0 20px;
    height: 40vh;

    .feature-td-text {
      letter-spacing: 5px;
      font-size: 1.1em !important;
    }
  }

  .coverimg-td{
    height: 40vh;
  }

  #about-wrapper{
    p {
      font-size: .9em;
      line-height: 1.1em;
    }
  }

  .carousel-team-cell, .carousel-product-cell {
    width: 70%;
  }

  .carousel-artwork-cell {
    width: 40%;
  }

  .img-logo-about{
    padding-top: 0;
  }

  .text-style-feature-alph {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-left: 20px;
    margin-bottom: 0;
    letter-spacing: 1px;

    &:after{
      margin-top: .5em;
      margin-bottom: 0;
      width: 4em;
      border-bottom: 2px solid $white;
    }
  }

  .text-style-feature-slogan {
    font-size: .8em;
    letter-spacing: 1px;
    margin-left: 20px;
  }

  .navbar-brand{
    padding: .5em 1em;

    img {
      width: 50px;
    }
  }

  .master-vision-imgs{
    width: 100%;
    float: initial;

    img {
      width: 100%;
    }
  }


  .master-vision-contents{
    display: none;
  }
  .master-vision-desc-mobile{
    display: block;
    clear: both;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: -50px;
    background: #fff;
    padding: 20px;
    font-size: .9em;

    .master-vision-title{
      z-index: 1;
      background-color: $white;
      padding: 0;
      width: auto !important;
      font-size: 1.2em !important;
      line-height: 1.2em !important;
      margin-bottom: 2px;

      &:after{
        border-bottom: 3px solid;
        width: 40px;
        margin-top: 10px;
      }
    }
  }

  .text-feature-about-us{
    font-size: 4em !important;
    top: -150px;
  }

  .about-bg{
    height: 50vh;
    background-repeat: no-repeat;
    background-attachment: initial !important;
  }

  #about-wrapper{

    .about-box{
      background-color: rgba(255,255,255,.7);
      padding: 2.5em 0;
      margin: 0 20px;
    }
  }

  .team-section-margin-top{
    margin-top: 0 !important;
  }

  .nav-link{
    padding: 0.5em 1em;
    font-size: .9em;
  }

  .footer-container{
    padding: 3em 2em;
    font-size: .8em;
    text-align: center;

    .text-end{
      text-align: center !important;
    }
  }

  .mobile-hide{
    display: none;
  }
  .mobile-show-block{
    display: block;
  }
}