@import "../css/bootstrap.min.css";
@import "../css/normalize.css";
@import "../css/salon-font.css";
@import "../css/plugins.css";
@import "../css/style.css";
@import "../css/jquery-confirm.min.css";

section.hl-text-slider .content, section.pic-hl-text .content {
  padding-top: 5%;
}

#hero .tagline {
  top: 50%;
}

#hero .tagline h1 {
  color: #ffffff;
  text-shadow: 2px 2px 5px #000000;
}

#hero .tagline h2 {
  color: #ffffff;
  text-shadow: 2px 2px 3px #000000;
}

#hero .tagline h1:after {
  border-top: 1px solid rgba(255, 255, 255, .7);
}

@media (max-width: 490px) {
  #hero .tagline h1 {
    text-shadow: 2px 2px 5px #666666;
    font-size: 1.6rem;
    letter-spacing: 0.3625rem;
    margin-right: 0.3em;
    margin-left: 0.3em;
  }
  #hero .tagline h2 {
    margin-right: 0.3em;
    margin-left: 0.3em;
    text-shadow: 2px 2px 3px #666666;
    letter-spacing: 0.15rem;
  }
}

section.col-3 .hlblock {
  padding-top: 5%;
}

section.stripes-1 .content{
  padding-top: 5%;
}

fieldset.submit{
  padding-top: 0;
}

.status-error{
  display: none;
  color: red;
}

.chosen-container-multi .chosen-choices li.search-choice span{
  padding-left: 15px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close{
  height: 35%;
}

.jconfirm-box-container{
  width:70%;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .jconfirm-box-container{
    width:90%;
  }
}

.blink_me {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

header #socialshare .socialicon-promo{
  right: 7rem;
}

@media only screen and (max-width: 1024px) {
  header #socialshare .socialicon-promo {
    height: 4.2rem;
    right: 8rem;
  }
}
