@import "variables";
@import "include";

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,500i,700,700i');

div.lead,
.nk-heading-font,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.display-1,
.display-2,
.display-3,
.display-4,
.display-big,
.display-extra-big,
.nk-navbar.nk-navbar-left .nk-nav .dropdown > li:last-of-type > a,
.nk-navbar.nk-navbar-left .nk-nav .dropdown > li > a,
.nk-navbar.nk-navbar-left .nk-nav > li:last-of-type > a,
.nk-navbar.nk-navbar-left .nk-nav > li > a,
.nk-navbar-side .nk-nav .dropdown > li:last-of-type > a,
.nk-navbar-side .nk-nav .dropdown > li > a,
.nk-navbar-side .nk-nav > li:last-of-type > a,
.nk-navbar-side .nk-nav > li > a,
.nk-navbar-full .nk-nav .dropdown > li:last-of-type > a,
.nk-navbar-full .nk-nav .dropdown > li > a,
.nk-navbar-full .nk-nav > li:last-of-type > a,
.nk-navbar-full .nk-nav > li > a,
.nk-counter .nk-count,
.nk-counter-2 .nk-count,
.nk-counter-3 .nk-count,
.nk-ibox-1-a .nk-ibox-title,
.nk-ibox-1-a .nk-ibox-text,
.nk-ibox-3-a .nk-ibox-title,
.nk-ibox-6 .nk-ibox-title,
.nk-pricing .nk-pricing-title,
.nk-pricing .nk-pricing-price,
blockquote,
.nk-carousel .nk-carousel-prev .nk-carousel-arrow-name,
.nk-carousel .nk-carousel-next .nk-carousel-arrow-name,
.nk-carousel-3 .nk-carousel-prev .nk-carousel-arrow-name,
.nk-carousel-3 .nk-carousel-next .nk-carousel-arrow-name,
.nk-team-block .nk-team-member .nk-team-member-name,
.nk-fullpage-number,
.nk-portfolio-launch-site,
.nk-btn-3 {
  font-family: "Montserrat", sans-serif;
}
h1 em, .h1 em,
h2 em, .h2 em,
h3 em, .h3 em,
h4 em, .h4 em,
h5 em, .h5 em,
h6 em, .h6 em,
.display-1 em,
.display-2 em,
.display-3 em,
.display-4 em,
.display-big em,
.display-extra-big em {
  font-family: Playfair Display, serif;
}

.nk-header-title .nk-title {
  letter-spacing: 30px;
}